language: cpp
sudo: required
dist: vivid
compiler: gcc
os: linux
ruby: 2.2.0
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - g++-4.8
      - gcc 4.8
before_install:
  - sudo apt-get install -qq g++-4.8
  - sudo apt-get install gcc-4.8 -y
  - export CXX="g++-4.8"
  - g++ --version
  - ./beforeinstall.sh
install: true
script: ./build.sh


